# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run/
/build/
/.gradle/
/.idea/
/.settings/
/FactoryBuilderDiagram.xcf
/examples/tests/

logs/
